<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distance Calc</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <img src="../static/images/unnamed.png" class="image" height="800px" width="100%">
    <h1 class="dis">Distance Calculator</h1>
    <h1 class="jinja">Total Distance : {{abi}}</h1>
    <form method="post">
        <input type="text" placeholder="Your Location" name="departure" class="city1">
        <input type="text" placeholder="Your Destination" name="destination" class="city2">
        <button type="submit" class="submit">Calculate</button>
    </form>
</body>
</html>